@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-radius: var(--radius);
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */
}

:root {
  --accent: #8345d8;
  /* --accent-foreground: #000000; */
  --primary: #ede4fc;
  --primary-foreground: #000000;
  --shadow: 0px 16px 40px 0px #00000008;
  --secondary: #f2f4f7;
  --secondary-foreground: #282828;
  --muted-foreground: #5f6980;
  --background: #ffffff;
  --foreground: #282828;
  --radius: 50px;
}
.dark {
  --secondary: #a5a5a5;
  --muted-foreground: #ffffff;
  --foreground: #ffffff;
  --background: #000000;
  --shadow: 0px 16px 40px 0px #ffffff08;
}

body {
  @apply font-inter;
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply box-border bg-background font-inter text-foreground;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 md:px-4 max-w-full md:max-w-[764px] lg:max-w-[1280px] overflow-hidden;
  }

  h1 {
    @apply font-medium text-[36px] text-primary-foreground md:text-[48px] lg:text-[64px] leading-[44px] md:leading-[60px] lg:leading-[70.4px] tracking-[-2px] md:tracking-[-3px] lg:tracking-[-3.84px];
  }

  h2 {
    @apply font-medium text-[28px] text-foreground md:text-[36px] lg:text-[42px] leading-[42px] md:leading-[48px] lg:leading-[54px] tracking-[-1.2px] md:tracking-[-1.8px] lg:tracking-[-2px];
  }

  h3 {
    @apply font-semibold text-[20px] text-foreground md:text-[24px] lg:text-[28px] leading-[32px] md:leading-[36px] lg:leading-[40px] tracking-[-0.6px] md:tracking-[-0.8px] lg:tracking-[-1px];
  }

  h4 {
    @apply font-semibold text-[#111111] text-[16px] md:text-[17px] lg:text-[18px] dark:text-white leading-[28px] md:leading-[29px] lg:leading-[30px];
    /* template heading */
  }

  h5 {
    @apply font-semibold text-[14px] text-foreground md:text-[15px] lg:text-[16px] leading-[24px] md:leading-[25px] lg:leading-[26px];
    /* $24 in templates */
  }

  p {
    @apply font-semibold text-[#0000008F] text-[16px] md:text-[17px] lg:text-[18px] leading-[24px] md:leading-[26px] lg:leading-[27px] tracking-[-.4px] md:tracking-[-.6px] lg:tracking-[-.72px]
    /* hero paragraph text */;
  }

  span {
    @apply font-semibold text-[12px] leading-[20px] md:leading-[22px] lg:leading-[24px] text-accent-foreground;
    /* template paragraph */
  }
  strong {
    @apply font-medium text-[#0000008F] text-[14px] leading-[21px] tracking-[-.56px];
  }

  a {
    @apply font-medium text-[14px] text-foreground hover:text-accent leading-[20px] md:leading-[20px] lg:leading-[21px] tracking-[-.4px] md:tracking-[-.5px] lg:tracking-[-.56px];
  }

  button {
    @apply font-medium text-[12px] text-primary-foreground md:text-[13px] lg:text-[14px] leading-[20px] md:leading-[20px] lg:leading-[21px] tracking-[-.4px] md:tracking-[-.5px] lg:tracking-[-.56px];
  }

  .pro-heading {
    @apply font-semibold text-[#FFFFFF] text-[36px] md:text-[48px] lg:text-[56px] dark:text-[#ffffff] 
leading-[48px] md:leading-[56px] lg:leading-[63px] 
tracking-[-1px] md:tracking-[-1.2px] lg:tracking-[-1.5px] 
pt-[40px] sm:pt-[80px] px-[80px];
  }

  .pro-paragraph {
    @apply px-[80px] pt-[18px] font-[400] text-[#F9FAFB] text-[16px] md:text-[18px] lg:text-[20px] dark:text-[#ffffff] leading-[28px] md:leading-[30px] lg:leading-[32px];
  }

  .badge {
    @apply bg-white px-3 py-1 rounded-radius font-inter font-medium text-[12px] text-primary-foreground md:text-[13px] lg:text-[14px] text-center leading-[20px] md:leading-[20px] lg:leading-[21px] tracking-[-.4px] md:tracking-[-.5px] lg:tracking-[-.56px];
  }
  .icon-pra-content {
    @apply font-inter font-normal text-[#ffffff] text-[16px] leading-[26px];
  }

  .pro-cta-content {
    @apply pb-[80px];
  }
}

@layer components {
  .nav-sec {
    @apply top-0 right-1/2 left-0 z-50 fixed flex justify-center items-center mx-auto md:mx-2 lg:mx-6 my-6 lg:translate-x-1/2;
  }
  .nav {
    @apply relative flex items-center gap-[30px];
  }
  .nav-logo {
    @apply tracking-tighter;
  }
  .nav-content {
    @apply hidden lg:flex justify-center items-center gap-[30px] bg-background px-5 py-4 w-[564px] h-[60px] overflow-hidden overflow-y-auto text-foreground;
    clip-path: path(
      "M 34,60 A 16,16 0 0 1 18, 50 L 18, 18 A 18,18 0,0,0 0, 0 L  564, 0 A 18,18 0,0,0 546, 18 L 546, 50 A 16,16 0 0 1 530, 60 Z"
    );
  }
  .nav-content.scrolled {
    clip-path: path(
      "M 34,60 A 16,16 0 0 1 16, 50  L 16, 16 A 16,16 0,0,1 32,0  L  530, 0 A 16,16 0,0,1 546,16 L 546, 50 A 16,16 0 0 1 530, 60 Z"
    );
  }
  .nav-links {
    @apply flex justify-center items-center gap-[25px];
  }
  .nav-single-link {
    @apply transition-all duration-300 ease-in-out;
  }
  .nav-counter {
    @apply top-[-10px] right-[-10px] absolute flex justify-center items-center bg-primary dark:bg-[#a19b9b] rounded-full size-[14px] font-bold text-[10px] text-foreground;
  }
  .hero-sec {
    @apply z-30 relative flex items-center bg-[url('/bg/hero.png')] bg-cover bg-center mx-0 md:mx-2 lg:mx-6 my-6 rounded-2xl;
  }
  .hero-content {
    @apply flex flex-col justify-start items-start gap-8 my-20 md:my-30 lg:my-40 ml-8 sm:ml-16 max-w-[660px];
  }
  .hero-shopify-btn {
    @apply flex justify-center items-center gap-[3px] px-3 py-1 rounded-full;
  }
  .footer-sec {
    @apply flex flex-col justify-center md:justify-start items-center md:items-start bg-primary mx-0 md:mx-2 lg:mx-6 md:px-12 lg:px-16 py-6 pt-10 md:pt-14 lg:pt-20 pb-6 rounded-2xl overflow-hidden md:text-left;
  }
  .footer-content {
    @apply flex md:flex-row flex-col justify-center md:justify-between items-center md:items-start gap-8 w-full text-center;
  }
  .footer-input {
    @apply bg-white p-4 rounded-xl w-full text-[#5f6980];
  }
  .footer-nav {
    @apply flex justify-start items-start gap-8 mb-6 text-left;
  }
  .footer-links {
    @apply flex flex-col justify-start items-start gap-5;
  }
  .footer-author {
    @apply flex justify-center md:justify-start items-center md:items-start w-full;
  }
  .footer-Newsletter {
    @apply flex flex-col justify-center md:justify-start items-center md:items-start gap-6 mb-6;
  }
  .testimonial-section {
    @apply text-center;
  }
  .testimonial-type {
    @apply inline-block px-[14px] py-[4px] border-2 rounded-[100px];
  }
  .testimonial-heading-details {
    @apply pt-[8px] text-center;
  }
  .testimonial-user-details {
    @apply gap-[32px] grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-[32px];
  }
  .testimonial-user-background {
    @apply shadow px-[40px] py-[40px] w-[95%] md:w-[405px] h-[278px];
  }
  .testimonial-user-details {
    @apply py-[32px];
  }
  .user-about-section {
    @apply flex items-center gap-[5px];
  }

  .icons {
    @apply flex items-center gap-[2px];
  }
  .pro-cta {
    @apply flex xl:flex-row flex-col justify-between gap-[120px] bg-[#111111] mt-[80px] mb-[80px] rounded-[40px] lg:overflow-hidden;
  }
  .icon-area {
    @apply flex items-center gap-[5px] my-[10px] sm:my-[19px] px-[80px];
  }
  .faq-sec {
    @apply flex flex-col justify-center items-center gap-8 lg:gap-12 my-10 md:my-16 lg:my-20;
  }

  .contact-section {
    @apply bg-[#EDE4FC] m-[24px] rounded-tl-[16px] rounded-tr-[16px] rounded-bl-[0px] rounded-br-[0px] h-[464px];
  }

  .contact-about {
    @apply flex flex-col justify-center items-center py-[124px];
  }
}
